#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 27px;
    font-weight: bold;
    position: relative;
    left: 0%;
}

.sub-title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 24px;
    position: relative;
    left: 0%;
    display: inline-block;
}

.table-title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 22px;
    position: relative;
    left: 0%;
    display: inline-block;
}

.sub-title-container
{
    display: inline-block; 
    justify-content: space-evenly;
    justify-content: center;
    width: 95%;
}

.vertical-line
{
    border-left: 3px solid black;
    height: 20px;
    display: inline-block;
}

table
{
    width: 100%;
    place-content: center;
    border-collapse: collapse;
    border:1px solid black;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 22px;
    text-align:center;
}

.tag-select
{
    font-size: 16px; 
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover
{
    font-weight: bolder;
}

.button {
    border: 1px solid black;
    font-size: 23px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}

.button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: left;
    margin-bottom: 0.5%;
    text-decoration: none;
    border-radius: 7px;
}

.button1:hover 
{
    background-color: darkgray;
}

.remove-button 
{
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    margin: 0%;
    cursor: pointer;
    border-radius: 7px;
}

.remove-button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
}

.add-button 
{
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 7px;
}

.add-button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
}

.add-button1:hover 
{
    background-color: darkgray;
}

.tag-cell
{
    width: 60%;
}

.tag-cell-tag
{
    display:inline-block; 
    padding-right: 11px; 
    padding-left: 11px;
    margin-bottom: 4px;
    border-radius: 7px;
}

.tag-cell-tag-value
{
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 9px;
    margin-top: 0%;
}

.column-value
{
    word-wrap: break-word;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.add-cell
{
    min-width: 150px; 
    border: 0px;
}

.example-cell
{
    font-size: 19px;
}

.example-cell-text
{
    margin-left: 5px;
    margin-right: 5px;
}

.sub-title-container {
    margin-bottom: 7px;
}