#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 76%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
}

#inner-content-box
{
    background-color: darkgray;
    height: 67.5%;
    width: 95%;
    overflow: auto;
    display: grid;
    margin-bottom: 0.5%;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 29.5px;
    font-weight: bold;
    position: relative;
    left: 0%;
}

#sub-title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 27px;
    position: relative;
    left: 0%;
}

table
{
    width: 100%;
    place-content: center;
    border:1px solid black;
    border-collapse: collapse;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 22px;
    text-align:center;
}

a:hover
{
    font-weight: bolder;
}

.button {
    border: 1px solid black;
    font-size: 23px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: left;
    bottom: 0%;
    left: -44.1%;
    margin-bottom: 0.5%;
    text-decoration: none;
}

.button1:hover 
{
    background-color: darkgray;
}

.remove-button 
{
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
    margin: 0%;
    cursor: pointer;
}

.remove-button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.remove-button1:hover 
{
    background-color: lightcoral;
}

.add-button 
{
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
    margin: 0%;
    cursor: pointer;
}

.add-button1 
{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.add-button1:hover 
{
    background-color: darkgray;
}

.tag-cell
{
    width: 60%;
}

.tag-cell-tag
{
    display:inline-block; 
    padding-right: 11px; 
    padding-left: 11px;
    margin-bottom: 4px;
}

.tag-cell-tag-value
{
    margin-bottom: 9px;
    margin-top: 0%;
}

.tag-cell-tag-value
{
    margin-right: 6px;
    margin-left: 6px;
}

.column-value
{
    word-wrap: break-word;
}

.add-cell
{
    min-width: 150px; 
    display: inline;
    border: 0px;
}