#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 76%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
}

#inner-content-box
{
    background-color: darkgray;
    height: 67.5%;
    width: 95%;
    overflow: auto;
    display: grid;
    margin-bottom: 0.5%;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    left: 0%;
}

#sub-title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 27px;
    position: relative;
    left: 0%;
}

table
{
    width: 100%;
    place-content: center;
    border:1px solid black;
    border-collapse: collapse;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 22px;
    text-align:center;
}

a:hover
{
    font-weight: bolder;
}

.button {
    border: 1px solid black;
    font-size: 23px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: left;
    bottom: 0%;
    left: -44.1%;
    margin-bottom: 0.5%;
    text-decoration: none;
}

.button1:hover {
    background-color: darkgray;
}