html 
{
    background-color: rgb(136, 160, 244);
    font-family: sans-serif;
}
   
h1 
{
    margin-top: 2px;
    font-size: 66px;
}

h2
{
    font-size: 45px;
}

h3
{
    font-size: 35px;
    line-height: 1.8;
}

h4
{
    font-size: 30px;
    line-height: 2;
}

.page_content
{
    margin-top: 3%;
    margin-left: 0px;
    margin-right: 0px;
}

.grid
{
    display:inline-block;
}

.menu_template
{
    height:100%;
    width:20%;
    margin-bottom: 8px;
    margin-top: 0px;
    position:absolute;
    top:0;
    left:0;
}