#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 72%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thick;
}

#inner-content-box
{
    background-color: darkgray;
    height: 71.4%;
    width: 95%;
    overflow: auto;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: bold;
}

table
{
    width: 100%;
    place-content: center;
    border:1px solid black;
    border-collapse: collapse;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
}

.button {
    border: 1px solid black;
    font-size: 25px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    margin: auto;
}


.button1:hover {
    background-color: darkgray;
}

/* CREATE PAGE STUFF BELOW, MAIN PORTAL PAGE ABOVE */

#outer-content-box-create
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 50%;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
}

#inner-content-box-create
{
    background-color: darkgray;
    height: 82.5%;
    width: 95%;
    overflow: auto;
}

#form-create-connection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formSet {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.formLabel {
    font-size: 20px;
    flex-basis: 50%;
}

.formInput {
    flex-basis: 50%;
}

#create-submit-button {
    float: left;
    width: 200px;
}