#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 72%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thick;
}

#inner-content-box
{
    background-color: darkgray;
    width: 95%;
    overflow: auto;
}

#content {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    flex-direction: row;
}

#content .left {
    width: 60%;
}

#content .right {
    width: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right .right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.right .right-bottom {
    height: 50%;
}

.right-div {
    width: 90%;
}

#button-div {
    justify-content: center;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: bold;
}

#usage-table {
    width: 95%;
}

#usage-table tr {
    display: none;
}

#usage-table #table-header {
    display: table-row;
}

table
{
    width: 100%;
    place-content: center;
    border-collapse: collapse;
    border:1px solid black;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
    text-align: center;
}

.button {
    font-size: 25px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    margin: auto;
}


.button1:hover {
    background-color: darkgray;
}

/* Style for Create New Tag Page */
#label_text
{
    font-size: 30px;
    font-weight: bold;
}

input {
    padding: 8px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 20px;
}

.usage-button {
    border: 1px solid black;
    font-size: 18px;
    padding: 5px;
    margin: 0%;
    cursor: pointer;
    display: flex;
}

.button2 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: right;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5%;
}

.button2:hover {
    background-color: darkgray;
}

.button3 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: left;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 3%;
}

.button3:hover {
    background-color: darkgray;
}

#success-message{
    color: green;
    margin-bottom: 0px;
    margin-top: 10px;
}

#error-message{
    color: red;
    margin-bottom: 0px;
    margin-top: 10px;
}

#result{
    margin-bottom: 0px;
    margin-top: 0px;
}

#create-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    margin-top: 0px;
}
