#outer-content-box
{
    display: flex;
    background-color: #EEEEEE;
    font-size: 30px;
    width: 70%;
    height: 72%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0);
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 28px;
    font-weight: normal;
    position: relative;
    bottom: 120px;
}

.button {
    border: 1px solid black;
    font-size: 25px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    border-radius: 7px;
}

.button1 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: right;
    margin: 0 auto;
    bottom: 230px;
    z-index: 1000;
    border-radius: 7px;
}

.button1:hover {
    background-color: darkgray;
}

#execution-container-text
{
    font-size: 24px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 170px;
}

  #load-button.spinner::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: .2em solid currentColor;
    border-right-color: transparent;
    animation: spinner .6s linear infinite;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }