#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 62.4%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
}

#inner-content-box
{
    background-color: darkgray;
    height: 82.5%;
    width: 95%;
    overflow: auto;
    display: grid;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: bold;
}

table
{
    width: 100%;
    place-content: center;
    border:1px solid black;
    border-collapse: collapse;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 22px;
    text-align:center;
}

a
{
    color: black;
}

a:hover
{
    font-weight: bolder;
}