#outer-content-box
{
    display: flex;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    height: 72%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thick;
}

#inner-content-box
{
    background-color: darkgray;
    height: 71.4%;
    width: 95%;
    overflow: auto;
    justify-content: space-evenly;
}

#title
{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: bold;
}

table
{
    width: 100%;
    place-content: center;
    border-collapse: collapse;
    border:1px solid black;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
}

.button {
    border: 1px solid black;
    font-size: 25px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    margin: auto;
}


.button1:hover {
    background-color: darkgray;
}

.button2 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: right;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5%;
}

.button2:hover {
    background-color: darkgray;
}

.button3 {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    position: relative;
    float: left;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5%;
}

.button3:hover {
    background-color: darkgray;
}

#form-create-connection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formSet {
    display: flex;
    width: 90%;
}

.formLabel {
    flex-basis: 50%;
    font-size: 24px;
    font-weight: bold;
}

.formInput {
    flex-basis: 50%;
    padding: 8px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 20px;
}

#success-message{
    color: green;
    margin-top: 5px;
}

#error-message{
    color: red;
    margin-top: 5px;
}

#result {
    margin-bottom: 18px;
    margin-top: 15px;
}