#outer-content-box
{
    display: flex;
    height: 500px;
    background-color: lightgray;
    font-size: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inner-content-box
{
    background-color: darkgray;
    height: 85%;
    width: 95%;
    overflow: auto;
}

#metadata_title
{
    margin-top: 0;
    margin-bottom: 1%;
}

table
{
    width: 100%;
    place-content: center;
    border:1px solid black;
    border-collapse: collapse;
}

tr
{
    border: 1px solid black;
    height: 80px;
}

th, td {
    border-right: 1px solid black;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-size: 18px;
}