#docker-compose file for starting up system architecture containers

version: "3.1"

services:
  trino:
    image: 'trinodb/trino:latest'
    container_name: trino
    ports:
      - '8080:8080'
    volumes:
      - ./trino/etc:/etc/trino

  etl-service:
    image: etl-service:latest
    #build:
    #     context: ./etl_service
    #     dockerfile: Dockerfile
    container_name: etl-service
    ports: 
      - '4999:4999'
    volumes:
      - ./etl_service/serialized_data_TEST:/serialized_data_TEST 
