#docker-compose file for starting up system architecture containers

version: "3.1"

services:
  trino:
    image: 'trinodb/trino:latest'
    container_name: trino
    ports:
      - '8080:8080'
    volumes:
      - ./trino/etc:/etc/trino

  etl-service:
    image: etl-service:latest
    #build:
    #     context: ./etl_service
    #     dockerfile: Dockerfile
    container_name: etl-service
    ports:
      - '4999:4999'
    environment:
      trino_host: trino
      trino_port: 8080
      trino_user: trino
    volumes:
      - ./etl_service/serialized_data:/serialized_data
      - ./trino/etc/catalog:/catalog

  neo4j:
    container_name: neo4j
    image: neo4j:5.4
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./neo4j/conf:/var/lib/neo4j/conf
      - ./neo4j/import:/var/lib/neo4j/import
      - ./neo4j/plugins:/var/lib/neo4j/plugins