html 
{
    background-color: rgb(136, 160, 244);
}
   
h1 
{
    font-size: 66px;
}

h2
{
    font-size: 45px;
}

h3
{
    font-size: 35px;
    line-height: 1.8;
}

h4
{
    font-size: 30px;
    line-height: 2;
}